.projectPermissions {
	float: right;
	display: inline;
	margin-top: 2px;
}

.edit, .admin, .view, .print, .download {

	display: inline;
	vertical-align: middle;
}
.userNames, .destroyUser, .displayUser {
	display: inline;
	vertical-align: middle;
}

ul {
	list-style: none;
}

li.userRow {
	border-top: solid 1px #333333;
}

.admin, .edit, .view, .print, .download, .projectPermissions {
	vertical-align: middle;
}

.permission-wrapper {
	width: 90%;
	margin-left: 5%;
	padding: 2px;
}

span.glyphicon {
	font-size: 1em;
}

.lineWrapper {
	vertical-align: middle;
	display: inline;
}

.myColleagues {
	height: 150px;
	overflow: auto;
}