<template name="manageProject">
  <div class="modal fade" id="checkAdminDelete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title"><div class="alert alert-danger">Warning:  You are deleting your own administrator access!</div></h4>
      </div>
      <div class="modal-body">
        <p>You have chosen to delete your own administrator access.  Please confirm, as you will not be able to restore it without the actions of another administrator.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="cancelDelete" data-dismiss="modal">Cancel This Action</button>
        <button type="button" id="confirmDelete" class="btn btn-primary" data-dismiss="modal">Confirm This Action</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="needOneAdmin">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title"><div class="alert alert-danger">Warning:  At least one administrator must be active.</div></h4>
      </div>
      <div class="modal-body">
        <p>You must promote someone on the team to administrator before deleting yourself.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="warning" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="helpOnProjects">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title"><div class="alert alert-info">How To Use Projects</div></h4>
      </div>
      <div class="modal-body">
        <p>This is where you set up a project, which is a collection of related documents (Requirements, DFMEA, PFMEA, etc.) used by one team.</p>
        <p>Enter a project name in the space provided.  Note that this will show up in quick-links throughout cloudDesign, so it is recommended to make the name something you will associate with this project, rather than something like "New Project".</p>
        <p>Choose whether to make this a public or private project.  Note that public projects are free to store and edit, as they support the open-source community.  All data on a public project is visible to any cloudDesign user.  Propriety projects should be made 'private'.  However, this will require all users except 'view-only' users to be paid subscribers to cloudDesign.  Note that if a project starts out as a public project and is later coverted to a private project, an archive of that project is kept available as a public project.</p>
        <p>Add members to your project team.  These members can be chosen by userid or by email address, or they can be selected from your list of colleagues or your pre-established teams.  You can easily set permissions with a button click on each team member to show what rights they have: <ul><li>Admin:  Can update all aspects of the project, including permissions.  There must always be at least one admin for a project.</li><li>Editor:  Can edit the project contents, unless otherwise prevented by document-level permissions.</li><li>Download:  Can download the entire project file, including all documents.  Note that for public projects, this cannot be disabled.</li><li>Print:  Can print the project documents.  Note that view-only members can still do screen captures.</li><li>View:  Can see the project contents.  This permission is intended for people who need to audit the project data, but do not need detailed access.</li></ul></p>
        <p>Finally, begin creating documents in your project using the blahblahblah</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="warning" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{updateRecentProjects}}
{{#if isProjectLoaded}}
	{{#with enterManageProject}}
	<div class="permission-wrapper">
  <div class="col-sm-4">
    <div class="edit">
    	  <h4>Project Name</h4>
            <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="newProject">Name (or rename) the project</label>
            <input type="text" class="form-control project-name-input" id="project-name-input" value="{{projectName}}" placeholder="{{projectName}}">
            <span class="help-block"></span>
        </div>
        </form>
    </div>
    <div class="projectType" id="projectType">
    	<h4>Privacy Setting</h4>
    	<div class="radio">
  			<label class="{{isPublic}}">
  			  	<input type="radio" name="optionsRadios" id="public" value="public" {{isPublic}} >
  			  	<span class="glyphicon glyphicon-globe"></span> Public Project:  Anyone on designCloud can view, download, and print.  You decide who can administer and edit.
 			 </label>
		</div>
		<div class="radio">
 			<label class="{{isNotPublic}}">
    			<input type="radio" name="optionsRadios" id="private" value="private" {{isNotPublic}}>
    			<span class="glyphicon glyphicon-lock"></span> Private Project:  You decide who can administer, edit, download, print, or view project data.  All users except view-only must be paid subscribers.
  			</label>
		</div>
	</div>
  <div class="myTeams">
    <h4>My Teams</h4>
  </div>
  <h4>My Colleagues</h4>
  <div class="myColleagues">
    <ul class="list-group">
        {{#each colleague}}
          <li class="list-group-item">
            <div class="colleague">
            <div class="btn-group">            
            <button type="button" class="btn btn-link btn-xs">{{nameOrEmail}}</button>
              <button type="button" class="btn btn-default btn-xs btn-add-to-project" title="Add to Project">
                <span class="glyphicon glyphicon-chevron-right"></span> 
              </button>

              </div> 
            </div>
          </li>
        {{/each}}
      </ul>
  </div>
  </div>
  <div class="col-sm-8">
	<h4>Project Members</h4>
	<div class="addProjectUsers">
	  Enter name or email to invite users to your project, or enter group name to add group of users.
    <form class="form-inline" role="form">
          <div class="form-group addUsers">
            <label class="sr-only" for="newInvitation">Invite someone to join the project:</label>
            <input type="text" class="form-control user-name-input" id="project-user-name-input" placeholder="Enter username, email, or team name">
            <span class="help-block">Inviting someone to the project automatically invites them to join your list of colleagues.</span>
        </div>
        </form>
	</div>
    <div class="user-permissions">
    <ul class="userNames">
    {{#each projectMembers}}
    	<li class="userRow" id="{{projectMember}}">
    		<div class="lineWrapper">
    		<div class="destroyUser"></div>
        	<div class="displayUser">
            	 <div class="userNames"><button type="button" class="btn btn-link btn-xs">{{email}}</button></div>
        	</div>
 	        <div class="projectPermissions">
    	    	<div class="admin"><button type="button" class="btn btn-add btn-xs {{isAdmin}} Admin"><span title="Administrator" class="glyphicon glyphicon-cog"> Admin</span></button></div>
        		<div class="edit"><button type="button" class="btn btn-add  btn-xs {{canEdit}} Editor"><span title="Edit" class="glyphicon glyphicon-pencil"> Edit</span></button></div>
        		<div class="download"><button type="button" class="btn btn-add  btn-xs {{canDownload}} Download"><span title="Download" class="glyphicon glyphicon-download-alt"> Download</span></button></div>
        		<div class="print"><button type="button" class="btn btn-add btn-xs {{canPrint}} Print"><span title="Print" class="glyphicon glyphicon-print"> Print</span></button></div>
        		<div class="view"><button type="button" class="btn btn-add btn-xs {{canView}} Viewer"><span title="View" class="glyphicon 
            glyphicon-eye-open"> View</span></button></div>
       		</div>
       		</div>
       	</li>
    {{/each}}
    </ul>
    </div>
    </div>
    </div>
    {{/with}}
  {{else}}
    <h3>Loading...</h3>
  {{/if}}



</template>
