<template name="manageAccount">
	<div class="row-fluid">
		<div class="col-sm-6">
			<div class="page-header"><h3>Account settings</h3></div>
			<ul class="list-group">
			<li class="list-group-item">
			Name: {{name}}
			</li>
			<li class="list-group-item">
			email: {{email}}
			</li>
			<li class="list-group-item">
			<span><input id="autoAcceptInvite" type="checkbox">  Automatically accept invitations from emails with your same domain name ({{domainName}})</span>
			</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<div class="page-header"><h4>Colleagues</h4></div>
			<ul class="list-group">
				{{#each colleague}}
					<li class="list-group-item">
						<div class="colleague">
						{{nameOrEmail}}
						<div class="btn-group btn-remove-colleague">
							<button type="button" class="btn btn-danger ">Remove</button>
							</div> 
						</div>
					</li>
				{{/each}}
			</ul>
			<div class="page-header"><h4>Invitations Received</h4></div>
			<ul class="list-group">
				{{#each invitedUser}}
					<li class="list-group-item">
						<div class="invitee">
							<div class="btn-group">
							 	<button type="button" class="btn btn-default">Accept Invitation</button>
								<button type="button" class="btn btn-default">Reject Invitation</button>
							</div>
						{{nameOrEmail}}	 	
						</div>
					</li>
				{{/each}}
			</ul>
			<div class="page-header"><h4>Invitations Sent</h4></div>
			<ul class="list-group">
				{{#each invitedUser}}
					<li class="list-group-item">
						<div class="invitee">
							<div class="btn-group">
								<button type="button" class="btn btn-default">Rescind Invitation</button>
							</div>
						{{nameOrEmail}}	 	
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>