<template name="manageAccount">
	<div class="row-fluid">
		<div class="col-sm-4">
			<div class="page-header"><h3>Account settings</h3></div>
			<ul class="list-group">
			<li class="list-group-item">
			Name: {{name}}
			</li>
			<li class="list-group-item">
			email: {{email}}
			</li>
			<li class="list-group-item">
			<span><input id="autoAcceptInvite" type="checkbox" {{autoAcceptInvite}}>  Automatically accept invitations from emails with your same domain name ({{myDomainName}})</span>
			</li>
			</ul>
		</div>
		
		<div class="col-sm-4">
			<div class="page-header"><h4>Invitations Received</h4></div>
			<ul class="list-group">
				{{#each invitedUser}}
					<li class="list-group-item">
						<div class="invitee">
						{{invitedMeNameOrEmail}}
							<div class="btn-group">
							 	<button type="button" class="btn btn-default btn-accept-invite">Accept Invitation</button>
								<button type="button" class="btn btn-default btn-reject-invite">Reject Invitation</button>
							</div>
							 	
						</div>
					</li>
				{{/each}}
			</ul>
			<div class="page-header"><h4>Invitations Sent</h4></div>
			<ul class="list-group">
				{{#each usersIveInvited}}
					<li class="list-group-item">
						<div class="invitee">
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-rescind-invitation">Rescind Invitation</button>
							</div>
						{{listInvited}}	 	
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
		<div class="col-sm-4">
			<div class="page-header"><h4>Colleagues</h4></div>
			<ul class="list-group">
				{{#each colleague}}
					<li class="list-group-item">
						<div class="colleague">
						{{nameOrEmail}}
						<div class="btn-group btn-remove-colleague">
							<button type="button" class="btn btn-default ">Remove</button>
							</div> 
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>